.firstTextAmount {
  text-align: left;
  font-size: 1.4vw;
  color: gray;
}
.firsContentAmount {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: space-around;
}
.firsContentAmount h1 {
  float: left;
  width: 50%;
  text-align: left;
}
.groupButtons {
  width: 30%;
  margin: 0 auto;
}
.buttonProp {
  background-color: #212366;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  margin-right: 10px;
  color: #fff !important;
}
