@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap");
* {
  font-family: "Red Hat Display";
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.header img {
  margin-right: auto;
  height: 53.55px;
  width: 148px;
}
.header span {
  margin-left: auto;
  color: #212366;
  width: 30px;
  height: 30px;
}
.firstContent {
  width: 30%;
  height: 90vh;
  float: left;
  display: flex;
  align-items: initial;
  flex-direction: column;
}
.firstContent .firstText {
  color: #212366;
  font-size: 4vw;
  font-weight: 900;
  text-align: left;
  margin-bottom: 5px;
}
.firstContent .line {
  width: 60px;
  height: 2px;
  background-color: #4eefdf;
}
.firstContent .secondText {
  color: #212366;
  font-size: 2vw;
  font-weight: 400;
  text-align: left;
  margin-bottom: 5px;
}
.secondContent {
  width: 70%;
  height: 90vh;
  float: right;
}
.secondContent img {
  float: right;
}
.firstInput {
  width: 40%;
  float: left;
}
.result {
  width: 35%;
  float: right;
  margin-right: 6vw;
  margin-bottom: 100px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 36px -6px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 0px 36px -6px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 36px -6px rgba(0, 0, 0, 0.61);
}
.headerThirdContent {
  color: #212366;
  font-size: 2vw;
  font-weight: 600;
  text-align: left;
  margin-top: 5px;
}
